
<p><b>Display Home:</b> <%= @content_block.display_home %></p>
<p><b>Name:</b> <%= @content_block.name %></p>
<p><b>Short Ukraine Description:</b> <%= @content_block.short_description %></p>
<p><b>Full Ukraine Description:</b> <%= @content_block.full_description %></p>
<p><b>Short English Description:</b> <%= @content_block.short_description_en %></p>
<p><b>Full English Description:</b> <%= @content_block.full_description_en %></p>
<p><b>Attachments:</b> <%= attachment_viewer @content_block %></p>
